body {
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Uchen', serif;
}

header {
    background-color: white;

}

#headerh1 {
   padding-left:40%;
}

#wholepost {
    height: 100%;
    width: 510px; 
    margin: auto;
    background-color: grey;
    margin-top: 5%;
    padding: 10px;
    border:green dodded 3px;
    margin:auto;
   

}
img {
    width:510px;
    
}

.postheader {
   display:flex;
   background-color:white;
   padding-bottom: 0px;
   
}


.posttext {
    width: 100%;
    background-color:white;
    padding-top:0px;
    margin-top:-28px;
    margin-bottom: 45px;
    
}

.right {
    float: right;
    padding-left:295px;
    padding-top:10px;
    
}
