body {
    background-color: grey;
    border: red dotted 3px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Uchen', serif;
}

header {
    background-color: white;

}

#headerh1 {
   padding-left:40%;
}

#wholepost {
    height: 100%;
    width: 500px; 
    margin: auto;
    background-color: grey;
    margin-top: 5%;
    padding: 10px;
    border:green dodded 3px;
    margin:auto;
   

}
img {
    width:500px;
}

.postheader {
   display:flex;
   background-color:white;
}


.posttext {
    width: 100%;
    background-color:white;
}

.right {
    float: right;
    padding-left:300px;
    padding-top:10px;
    
}