body {
    background-color:black;
    border: red dotted 3px;
}

.wholepost {
    height: 700px;
    width: 450px;
    margin: auto;
    background-color: white;
    margin-top: 5%;
    padding: 0;

}
#postheader {

}
#postpicture {
width:50px;
height:50px;
}

#posttext {
width:50%
}
.right {
float: right
;
}